.container {
  background: #DFD3D3;
  border-radius: 16px;
  border: solid 2px #B8B0B0;
  box-shadow: 1px 1px 5px #B8B0B0;
  padding: 20px;
}
.input {
  background: transparent;
  min-width: 350px;
  padding: 6px 12px;
  font-size: 18px;
  border-radius: 8px;
  border: solid 2px #B8B0B0;
  &:focus {
    outline: none;
    background: #FBF0F0;
    box-shadow: 1px 1px 5px #B8B0B0;
  }
}
.button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.list {
  display: flex;
  flex-direction: column;
  height: 350px;
  overflow: auto;
  padding: 0 15px 0 0;
  margin: 10px 0;
  gap: 10px;
  & .item {
    padding: 6px;
    border-radius: 8px;
    border: solid 2px #B8B0B0;
  }
}